<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>URL Shortener</title>
  <style>
    body {
      font-family: Arial, sans-serif;
    }
    h1 {
      text-align: center;
    }
    h3 {
      text-align: center;
    }
    form {
      margin: 0 auto;
      max-width: 400px;
      text-align: center;
    }
    input[type="text"] {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
    }
    input[type="submit"] {
      padding: 10px 20px;
      background-color: #4CAF50;
      color: white;
      border: none;
      cursor: pointer;
    }
    input[type="submit"]:hover {
      background-color: #45a049;
    }
  </style>
</head>
<body>
  <h1>URL Shortener</h1>
  <h3>DevOps Project.!!!</h3>
  <form action="/shorten" method="post">
    <input type="text" name="url" placeholder="Enter URL" required>
    <br>
    <input type="submit" value="Shorten">
  </form>
</body>
</html>
